body {
    background-color: #0179bf;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans,
      Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
  }
  h2 {
    margin: 0;
    padding: 0;
  }
  header.topBar {
    padding: 0;
    margin: 0;
    max-height: 8rem;
    background-color: #765087;
  }
  header.topBar h1 {
    padding: 0;
    margin: 0;
    text-align: center;
    color: white;
    font-family: "Pacifico", cursive;
  }
  main {
    display: flex;
    flex-direction: row;
  }
  #submit {
    background-color: #5ab542;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0.2rem;
    padding: 0.25rem 0.5rem;
  }
  main section {
    min-height: 10rem;
    width: 13rem;
    background-color: #e2e4e6;
    margin: 0.5rem;
    border-radius: 0.4rem;
    padding: 0.5rem;
    position: relative;
    z-index: 0;
  }
  
  main section ul {
    padding: 0;
    margin: 0 0 2rem 0;
    list-style-type: none;
  }
  
  main section ul li {
    background-color: white;
    padding: 0.25rem;
    border-radius: 0.4rem;
    margin: 0.25rem 0;
    z-index: 999;
  }
  
  main section ul li:hover {
    cursor: pointer;
  }
  
  main section footer {
    position: absolute;
    bottom: 0.5rem;
  }
  
  .flex-container { 
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;  
    
    }
  .jumbotron {
    margin: 1em;

  }
  


